body {
  background-color: black;
  color: white;
  font-size: 20px;
  font-weight: 300;
  font-family: fantasy;
}
.container {
  align-self: center;
  max-width: 66%;
}
ul {
  color: purple;
}
h1 {
  color: green;
}
#uxCrash {
  margin-left: 15%;
}
footer {
  align-content: center;
  font-size: 10px;
}
#navbar {
  float: left;
  
}
